* {
    margin: 0; padding: 0;
}

.savedShoppingList {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 15px;
}

a:link, a:visited {
  text-decoration: none;
}

.material-symbols-outlined {
    font-size: 3rem;
}

.container {
    margin-top: 40px;
    border: 1px solid #ddd;
    display: flex;
    /*margin-bottom: 10px;*/
    margin-left: auto;
    margin-right: auto;
    align-items:center;
    max-width: 600px;
    z-index: 0;
    justify-content: space-between;
}

#submitButton {
    background-color: #f39c12;
    color:white;
    font-size: 15px;
    border: 1px solid #ddd;
    padding: 20px;
    overflow: hidden;
    cursor: pointer;
    position: fixed;
    bottom: 5px;
    right: 10%;
    z-index: 1;
    display: none;
}

.image {
    max-width: 150px;
    min-width: 150px;
}

.image {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    max-width: 100%
}

img {
    max-width: 150px;
    min-width: 150px;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }

.description {
    max-width: 310px;
    /*margin-left: 20px;*/
}

.recipeNameButton {
    /*padding-right: 10px;*/
    font-size: 1rem;
    background: none;
    border: none;
    cursor: pointer; 
    text-align: left;
}

input[type='checkbox'] {
    /*margin-left: 5px;*/
    /*margin-right: 10px;*/
    transform: scale(1.2);
    z-index: 0;
    cursor: pointer;
}

.modifiedNumberOfPeople {
    /*margin-left: 5px;*/
    font-size: 0.9rem;
    cursor: pointer;
}

a:link { text-decoration: none; }
a { color: inherit; }
a:hover { color: blue; }

@media screen and (min-width: 600px) {
    .description {
        min-width: 310px;
    }
}

@media screen and (max-width: 599px) {
    .description {
        margin-left: 10px;
    }

    input[type=checkbox] {
        margin-left: 10px;
    }

    .modifiedNumberOfPeople {
        margin-left: 10px;
    }
}


@media screen and (max-width: 440px) {
    table {
        min-width: 70%;
    }

}

@media screen and (max-width: 1700px) {
    #submitButton {
        position: fixed;
        bottom: 5px;
        right: 5px;
    }
}

@media screen and (max-width: 379px) {
    /*.description {
        margin-left: 15px;
    }*/

    .recipeNameButton {
        font-size: 0.9rem;
    }

    .modifiedNumberOfPeople {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 364px) {
    
    .description {
        margin-left: 5px;
    }

    /*.recipeNameButton {
        font-size: 0.8rem;
    }*/

    input[type=checkbox] {
        margin-left: 5px;
    }

    .modifiedNumberOfPeople {
        /*font-size: 0.75rem;*/
        margin-left: 5px;
    }

    .image {
        max-width: 41.90%;
    }

    img {
        max-width: 41.90%;
    }
}

@media screen and (max-width: 349px) {

    .recipeNameButton {
        font-size: 0.85rem;
    }

    .modifiedNumberOfPeople {
        font-size: 0.75rem;
    }

}